GIGLS.Services/Business/Magaya/xsd/shipment.xsd

<xs:schema xmlns="http://www.magaya.com/XMLSchema/V1" xmlns:mstns="http://www.magaya.com/XMLSchema/V1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.magaya.com/XMLSchema/V1" elementFormDefault="qualified" version="1.0">
<xs:include schemaLocation="Common.xsd"/>
<!--  Base type for shipments, bookings and trips  -->
<xs:complexType name="ShipmentType">
<xs:all>
<!--  Creation date for this transaction  -->
<xs:element name="CreatedOn" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
<!--
 Transaction number. In a shipment it is the folder name. 
-->
<xs:element name="Number" type="xs:string" minOccurs="1" maxOccurs="1"/>
<!--  Employee that created the transaction  -->
<xs:element name="CreatedByName" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Version of this transaction  -->
<xs:element name="Version" type="xs:byte" minOccurs="0" maxOccurs="1"/>
<!--  Mode of transportation for this transaction  -->
<xs:element name="ModeOfTransportation" type="ModeOfTransportationType" minOccurs="0" maxOccurs="1"/>
<!--  Mode of transportation code for this transaction  -->
<xs:element name="ModeOfTransportCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Entity that issued the transaction  -->
<xs:element name="IssuedBy" type="EntityType" minOccurs="0" maxOccurs="1"/>
<!--  Address of the entity that issued the transaction  -->
<xs:element name="IssuedByAddress" type="AddressType" minOccurs="0" maxOccurs="1"/>
<!--  Name of the entity that issued the transaction  -->
<xs:element name="IssuedByName" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Shipper name  -->
<xs:element name="ShipperName" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Shipper address  -->
<xs:element name="ShipperAddress" type="AddressType" minOccurs="0" maxOccurs="1"/>
<!--  Shipper entity  -->
<xs:element name="Shipper" type="EntityType" minOccurs="0" maxOccurs="1"/>
<!--  Consignee name  -->
<xs:element name="ConsigneeName" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Consignee address  -->
<xs:element name="ConsigneeAddress" type="AddressType" minOccurs="0" maxOccurs="1"/>
<!--  Consignee entity  -->
<xs:element name="Consignee" type="EntityType" minOccurs="0" maxOccurs="1"/>
<!--  Destination agent name  -->
<xs:element name="DestinationAgentName" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Destination agent address  -->
<xs:element name="DestinationAgentAddress" type="AddressType" minOccurs="0" maxOccurs="1"/>
<!--  Destination agent entity  -->
<xs:element name="DestinationAgent" type="EntityType" minOccurs="0" maxOccurs="1"/>
<!--  Carrier entity  -->
<xs:element name="Carrier" type="EntityType" minOccurs="0" maxOccurs="1"/>
<!--  Carrier name  -->
<xs:element name="CarrierName" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Carrier address  -->
<xs:element name="CarrierAddress" type="AddressType" minOccurs="0" maxOccurs="1"/>
<!--  Notes  -->
<xs:element name="Notes" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Waybill Notes  -->
<xs:element name="WaybillNotes" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Items included in this transaction  -->
<xs:element name="Items" type="ItemList" minOccurs="0" maxOccurs="1"/>
<!--  Measurement units for this transaction  -->
<xs:element name="MeasurementUnits" type="MeasurementUnitsType" minOccurs="0" maxOccurs="1"/>
<!--
 Magaya Network ID of the system that created the transaction 
-->
<xs:element name="CreatorNetworkID" type="xs:long" minOccurs="0" maxOccurs="1"/>
<!--  Charges that apply to this transaction  -->
<xs:element name="Charges" type="ChargeList" minOccurs="0" maxOccurs="1"/>
<!--  Events related to this transaction  -->
<xs:element name="Events" type="EventList" minOccurs="0" maxOccurs="1"/>
<!--  Division that created the transaction  -->
<xs:element name="Division" type="EntityType" minOccurs="0" maxOccurs="1"/>
<!--  Total Pieces  -->
<xs:element name="TotalPieces" type="xs:integer" minOccurs="0" maxOccurs="1"/>
<!--  Total Weight  -->
<xs:element name="TotalWeight" type="WeightValue" minOccurs="0" maxOccurs="1"/>
<!--  Total Volume  -->
<xs:element name="TotalVolume" type="VolumeValue" minOccurs="0" maxOccurs="1"/>
<!--  Total Value  -->
<xs:element name="TotalValue" type="MoneyValue" minOccurs="0" maxOccurs="1"/>
<!--  Total Volume Weight  -->
<xs:element name="TotalVolumeWeight" type="VolumeWeightValue" minOccurs="0" maxOccurs="1"/>
<!--  Total Chargeable Weight  -->
<xs:element name="ChargeableWeight" type="WeightValue" minOccurs="0" maxOccurs="1"/>
<!--  General description of the merchandise  -->
<xs:element name="DescriptionOfGoods" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Origin port  -->
<xs:element name="OriginPort" type="PortType" minOccurs="0" maxOccurs="1"/>
<!--  Final Destination port  -->
<xs:element name="DestinationPort" type="PortType" minOccurs="0" maxOccurs="1"/>
<!--  Receipt port, useful when moving from Door  -->
<xs:element name="ReceiptPort" type="PortType" minOccurs="0" maxOccurs="1"/>
<!--  Delivery port, useful when moving to Door  -->
<xs:element name="DeliveryPort" type="PortType" minOccurs="0" maxOccurs="1"/>
<!--  Status of the transaction  -->
<xs:element name="Status" type="ShipmentStatusType" minOccurs="0" maxOccurs="1"/>
<!--
 Direction of the shipment incoming(import) or outgoing(export) 
-->
<xs:element name="Direction" type="ShipmentDirectionType" minOccurs="1" maxOccurs="1"/>
<!--  Shipment is master, house or straight  -->
<xs:element name="LayoutType" type="ShipmentLayoutType" minOccurs="0" maxOccurs="1"/>
<!--  Estimated Arrival Date  -->
<xs:element name="EstimatedArrivalDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
<!--  Actual Arrival Date  -->
<xs:element name="ActualArrivalDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
<!--  Estimated Departure Date  -->
<xs:element name="EstimatedDepartureDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
<!--  Actual Departure Date  -->
<xs:element name="ActualDepartureDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
<!--  Notify party entity  -->
<xs:element name="NotifyParty" type="EntityType" minOccurs="0" maxOccurs="1"/>
<!--  Notify party name  -->
<xs:element name="NotifyPartyName" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Notify party address  -->
<xs:element name="NotifyPartyAddress" type="AddressType" minOccurs="0" maxOccurs="1"/>
<!--  Intermadiate consignee entity  -->
<xs:element name="IntermediateConsignee" type="EntityType" minOccurs="0" maxOccurs="1"/>
<!--  Intermadiate consignee name  -->
<xs:element name="IntermediateConsigneeName" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Intermadiate consignee address  -->
<xs:element name="IntermediateConsigneeAddress" type="AddressType" minOccurs="0" maxOccurs="1"/>
<!--  Client that will pay for the shipment  -->
<xs:element name="BillingClient" type="EntityType" minOccurs="0" maxOccurs="1"/>
<!--  Place of execution of transaction  -->
<xs:element name="ExecutedPlace" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--
 Code of the city where the transction was executed, ex: USMIA
-->
<xs:element name="ExecutedCityCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Declared value for customs  -->
<xs:element name="DeclaredValue" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Booking number of the carrier  -->
<xs:element name="BookingNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--
 If this is a house this is the Unique identifier (GUID) of the master 
-->
<xs:element name="MasterGUID" type="GUIDType" minOccurs="0" maxOccurs="1"/>
<!--
 If this is a house this is the Number (shipment name) of the master 
-->
<xs:element name="MasterNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--
 Magaya Network ID of the system that received the shipment at destination 
-->
<xs:element name="ReceivedAtNetworkID" type="xs:long" minOccurs="0" maxOccurs="1"/>
<!--  Schedule D or K of the origin port  -->
<xs:element name="OriginPortSchedule" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Schedule D or K of the destination port  -->
<xs:element name="DestinationPortSchedule" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  XTN number from the AES system  -->
<xs:element name="AESXTNNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Filing date to the AES system  -->
<xs:element name="AESFilingDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
<!--  ITN number from the AES system  -->
<xs:element name="AESITNNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Shipment status from the AES system  -->
<xs:element name="AESStatus" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--
 Quote number if the shipment was created from a quotation 
-->
<xs:element name="FromQuoteNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Inbond information. Used in AMS.  -->
<xs:element name="InBondData" type="InBondDataType" minOccurs="0" maxOccurs="1"/>
<!--
 Last port of departure before arriving to the destination port 
-->
<xs:element name="LastPortOfDeparture" type="PortType" minOccurs="0" maxOccurs="1"/>
<!--
 Last date of departure before arriving to the destination port 
-->
<xs:element name="LastDateOfDeparture" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
<!--
 Last port of departure schedule D or K before arriving to the destination port 
-->
<xs:element name="LastPortOfDepartureSchedule" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  AMS notify party entity 1  -->
<xs:element name="AMSNotifyParty1" type="EntityType" minOccurs="0" maxOccurs="1"/>
<!--  AMS notify party entity 1 name  -->
<xs:element name="AMSNotifyParty1Name" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  AMS notify party entity 1 SCAC  -->
<xs:element name="AMSNotifyParty1SCAC" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  AMS notify party entity 2  -->
<xs:element name="AMSNotifyParty2" type="EntityType" minOccurs="0" maxOccurs="1"/>
<!--  AMS notify party entity 2 name  -->
<xs:element name="AMSNotifyParty2Name" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  AMS notify party entity 2 SCAC  -->
<xs:element name="AMSNotifyParty2SCAC" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Proof of delivery info for this shipment  -->
<xs:element name="PODData" type="PODDataType" minOccurs="0" maxOccurs="1"/>
<!--
 Spotting date / Drop off empty date. Date and time at which the shipment will be ready to start loading. 
-->
<xs:element name="SpottingDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
<!--
 Pickup date. Date and time at which the equipment can be picked up. 
-->
<xs:element name="PickupDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
<!--
 Cut off date. Date and time at which the shipment must be ready to ship. 
-->
<xs:element name="CutoffDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
<!--
 Location of the merchandise of this shipment for loading 
-->
<xs:element name="CargoLocation" type="AddressType" minOccurs="0" maxOccurs="1"/>
<!--
 Maximum weight for this record. Used in trip loading control. 
-->
<xs:element name="MaximumWeight" type="WeightValue" minOccurs="0" maxOccurs="1"/>
<!--
 Maximum volume for this record. Used in trip loading control. 
-->
<xs:element name="MaximumVolume" type="VolumeValue" minOccurs="0" maxOccurs="1"/>
<!--
 Maximum pieces for this record. Used in trip loading control. 
-->
<xs:element name="MaximumPieces" type="xs:integer" minOccurs="0" maxOccurs="1"/>
<!--  Waybill number of the master shipment  -->
<xs:element name="MasterWayBillNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  List of house shipments  -->
<xs:element name="HouseShipments" type="ShipmentList" minOccurs="0" maxOccurs="1"/>
<!--  List of documents for this shipment  -->
<xs:element name="Documents" type="DocumentList" minOccurs="0" maxOccurs="1"/>
<!--  True if this transaction has Attachments  -->
<xs:element name="HasAttachments" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
<!--  List of attachments for this shipment  -->
<xs:element name="Attachments" type="AttachmentList" minOccurs="0" maxOccurs="1"/>
<!--
 In the case this record is used as a booking this is the status 
-->
<xs:element name="BookingStatus" type="BookingStatusType" minOccurs="0" maxOccurs="1"/>
<!--  Extra fields for the shipment record  -->
<xs:element name="ShipmentOptions" type="ShipmentOptionsType" minOccurs="0" maxOccurs="1"/>
<!--
 If this is an air shipment this field will have all related information 
-->
<xs:element name="AirShipmentInfo" type="AirShipmentType" minOccurs="0" maxOccurs="1"/>
<!--
 If this is an ocean shipment this field will have all related information 
-->
<xs:element name="OceanShipmentInfo" type="OceanShipmentType" minOccurs="0" maxOccurs="1"/>
<!--
 If this is a ground shipment this field will have all related information 
-->
<xs:element name="GroundShipmentInfo" type="GroundShipmentType" minOccurs="0" maxOccurs="1"/>
<!--
 If this record is a trip this field will have the equipment list 
-->
<xs:element name="TripEquipments" type="ItemList" minOccurs="0" maxOccurs="1"/>
<!--  URL to track this Shipment  -->
<xs:element name="URL" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Local Delivery Agent name at destination -->
<xs:element name="DeliveryAgentName" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Local Delivery Agent entity at destinaton  -->
<xs:element name="DeliveryAgent" type="EntityType" minOccurs="0" maxOccurs="1"/>
<!--
 Pickup Address where the cargo is located for local delivery at destination port
-->
<xs:element name="DestinationPortAddress" type="AddressType" minOccurs="0" maxOccurs="1"/>
<!--  Routing Instructions for the shipment  -->
<xs:element name="RoutingInstructions" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  LessThanFullLoad = TRUE, FullLoad = FALSE  -->
<xs:element name="IsLessThanFullLoad" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
<!--  Type of service  -->
<xs:element name="Service" type="ServiceType" minOccurs="0" maxOccurs="1"/>
<!--
 
      In the case this record is used as a booking 
      IsOnlineBooking indicates that the booking was created online.
      
-->
<xs:element name="IsOnlineBooking" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
<!--
 Entry number that identifies the customs declaration 
-->
<xs:element name="EntryNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Number of the insurance certificate  -->
<xs:element name="InsuranceNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Date when the insurance certificate was created  -->
<xs:element name="InsuranceDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
<!--  Custom fields defined by the user  -->
<xs:element name="CustomFields" type="CustomFieldList" minOccurs="0" maxOccurs="1"/>
<!--  True if this Shipment was placed online  -->
<xs:element name="IsOnline" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
<!--  Entity role list  -->
<xs:element name="EntityRoles" type="EntityRoleList" minOccurs="0" maxOccurs="1"/>
<!--  Importer Security Filing Data  -->
<xs:element name="ISFData" type="ISFDataType" minOccurs="0" maxOccurs="1"/>
<!--
 This could be the quotation, booking or trip from where the shipment was created. 
-->
<xs:element name="CreatedFrom" type="GUIDItemType" minOccurs="0" maxOccurs="1"/>
<!--
 Containers numbers in this shipment separated by semicolon. This field is for output only 
-->
<xs:element name="ContainersNumbers" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--
 Total amount of containers. This field is for output only 
-->
<xs:element name="TotalContainers" type="xs:integer" minOccurs="0" maxOccurs="1"/>
<!--
 Total amount of 20 foot containers. This field is for output only 
-->
<xs:element name="Containers20Foot" type="xs:integer" minOccurs="0" maxOccurs="1"/>
<!--
 Total amount of 40 foot containers. This field is for output only 
-->
<xs:element name="Containers40Foot" type="xs:integer" minOccurs="0" maxOccurs="1"/>
<!--
 Total amount of 45 foot containers. This field is for output only 
-->
<xs:element name="Containers45Foot" type="xs:integer" minOccurs="0" maxOccurs="1"/>
<!--
 Total amount of tank containers. This field is for output only 
-->
<xs:element name="TankContainers" type="xs:integer" minOccurs="0" maxOccurs="1"/>
<!--  List of route segments for this shipment  -->
<xs:element name="RouteSegments" type="RouteSegmentList" minOccurs="0" maxOccurs="1"/>
<!--  Denied Party Screening Result Data  -->
<xs:element name="DeniedPartyScreeningResultData" type="DeniedPartyScreeningResultType" minOccurs="0" maxOccurs="1"/>
<!--  Destination Pickup Entity  -->
<xs:element name="DestinationPickupEntity" type="EntityType" minOccurs="0" maxOccurs="1"/>
<!--  Name of the Destination Pickup Entity  -->
<xs:element name="DestinationPickupEntityName" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  True if this Shipment was liquidated  -->
<xs:element name="IsLiquidated" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
<!--  Express Link Information  -->
<xs:element name="ExpressLinkInfo" type="ExpressLinkInfoType" minOccurs="0" maxOccurs="1"/>
</xs:all>
<!--  Unique identifier (GUID) of the transaction  -->
<xs:attribute name="GUID" type="GUIDType" use="optional"/>
<!--
 Type that classifies this type of transaction that is used when calling API methods 
-->
<xs:attribute name="Type" type="xs:string" use="optional"/>
</xs:complexType>
<!--  Shipment options  -->
<xs:complexType name="ShipmentOptionsType">
<xs:all>
<!--  AES related options  -->
<xs:element name="IsShipperConsigneeRelated" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
<!--  AES related options  -->
<xs:element name="IsRoutedTransaction" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
<!--
 Options to auto fill documents. Indicates the Air Waybill detail will be expanded 
-->
<xs:element name="IsAirWayBillDetailExpanded" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
<!--
 Options to auto fill documents. Indicates the Bill of Lading detail will be expanded 
-->
<xs:element name="IsBillOfLadingDetailExpanded" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
<!--
 Options to auto fill documents. Indicates the Cargo Manifest detail will be expanded 
-->
<xs:element name="IsCargoManifestDetailExpanded" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
<!--
 Options to auto fill documents. Indicates the document will be filled with accounting information 
-->
<xs:element name="FillDocsWithAccountingInfo" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
<!--
 Show items inside containers in Bill of Lading. This option applies if IsBillOfLadingDetailExpanded is true 
-->
<xs:element name="ShowContainerDetails" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
<!--  Show Warehouse Receipts numbers in Cargo Manifest  -->
<xs:element name="ShowWHRsInCargoManifest" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
<!--  Show item dimensions in Air Waybill summarized  -->
<xs:element name="ShowDimensionsInAWB" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
<!--
 Show item dimensions in Air Waybill detailed. This option applies if ShowDimensionsInAWB is true 
-->
<xs:element name="ShowDimensionsDetailedInAWB" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
<!--  Measurement unit in which the Air Waybill is shown -->
<xs:element name="AirWayBillWeightUnit" type="AWBUnitType" minOccurs="0" maxOccurs="1"/>
<!--
 Measurement unit in which the Bill of Lading is shown
-->
<xs:element name="BillOfLadingWeightUnit" type="AWBUnitType" minOccurs="0" maxOccurs="1"/>
<!--
 Uses notes in the items as marks and numbers in the BL 
-->
<xs:element name="UseNotesAsMarksNumbersInBL" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
<!--
 Group similar items at the same level in the Bill of Lading 
-->
<xs:element name="BillOfLadingGroupSimilarItems" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
</xs:all>
</xs:complexType>
<!--  Extra fields for an air shipment  -->
<xs:complexType name="AirShipmentType">
<xs:all>
<!--  Air Waybill number  -->
<xs:element name="AirWayBillNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Declared value for customs  -->
<xs:element name="DeclareValueForCustoms" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Flight number  -->
<xs:element name="FlightNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  First transfer carrier entity  -->
<xs:element name="FirstTransferCarrier" type="EntityType" minOccurs="0" maxOccurs="1"/>
<!--  First transfer carrier name  -->
<xs:element name="FirstTransferCarrierName" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  First transfer carrier address  -->
<xs:element name="FirstTransferCarrierAddress" type="AddressType" minOccurs="0" maxOccurs="1"/>
<!--  First transfer port  -->
<xs:element name="FirstTransferPort" type="PortType" minOccurs="0" maxOccurs="1"/>
<!--  First transfer flight number  -->
<xs:element name="FirstTransferFlightNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  First transfer date  -->
<xs:element name="FirstTransferDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
<!--  Second transfer carrier entity  -->
<xs:element name="SecondTransferCarrier" type="EntityType" minOccurs="0" maxOccurs="1"/>
<!--  Second transfer carrier name  -->
<xs:element name="SecondTransferCarrierName" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Second transfer carrier address  -->
<xs:element name="SecondTransferCarrierAddress" type="AddressType" minOccurs="0" maxOccurs="1"/>
<!--  Second transfer port  -->
<xs:element name="SecondTransferPort" type="PortType" minOccurs="0" maxOccurs="1"/>
<!--  Second transfer flight number  -->
<xs:element name="SecondTransferFlightNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Second transfer date  -->
<xs:element name="SecondTransferDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
<!--  US Customs AirAMS info  -->
<xs:element name="AirAMSInfo" type="AirAMSInfoType" minOccurs="0" maxOccurs="1"/>
</xs:all>
</xs:complexType>
<!--  Extra fields for an ocean shipment  -->
<xs:complexType name="OceanShipmentType">
<xs:all>
<!--  Bill of lading number  -->
<xs:element name="BillOfLadingNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Vessel information  -->
<xs:element name="Vessel" type="VesselType" minOccurs="0" maxOccurs="1"/>
<!--  Vessel name  -->
<xs:element name="VesselName" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Vessel flag code  -->
<xs:element name="VesselFlagCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Vessel voyage number  -->
<xs:element name="VoyageIdentification" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Point of Origin or FTZ Number  -->
<xs:element name="PointOfOriginFTZNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Loading Pier or Terminal  -->
<xs:element name="LoadingPierOrTerminal" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Pre Carriage By name  -->
<xs:element name="PreCarriageBy" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Pre Carriage By entity  -->
<xs:element name="PreCarriageByEntity" type="EntityType" minOccurs="0" maxOccurs="1"/>
<!--  Place of Delivery by OnCarrier  -->
<xs:element name="PlaceOfDeliveryByOnCarrier" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Place of Receipt by PreCarrier  -->
<xs:element name="PlaceOfReceiptByPreCarrier" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--   On Carriage By name   -->
<xs:element name="OnCarriageBy" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--   On Carriage By entity   -->
<xs:element name="OnCarriageByEntity" type="EntityType" minOccurs="0" maxOccurs="1"/>
</xs:all>
</xs:complexType>
<!--  Extra fields for a ground shipment  -->
<xs:complexType name="GroundShipmentType">
<xs:all>
<!--  Bill of lading number  -->
<xs:element name="BillOfLadingNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Vehicle Number  -->
<xs:element name="VehicleNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Carrier Tracking Number  -->
<xs:element name="CarrierTrakingNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Carrier PRO Number  -->
<xs:element name="CarrierPRONumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Carrier driver name  -->
<xs:element name="DriverName" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Carrier driver license  -->
<xs:element name="DriverLicenseNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
</xs:all>
</xs:complexType>
<!--  Air Shipment element  -->
<xs:element name="AirShipment" type="ShipmentType"/>
<!--  Ocean Shipment element  -->
<xs:element name="OceanShipment" type="ShipmentType"/>
<!--  Ground Shipment element  -->
<xs:element name="GroundShipment" type="ShipmentType"/>
<!--  Enumerated value that defines a shipment status  -->
<xs:simpleType name="ShipmentStatusType">
<xs:restriction base="xs:string">
<!--  Shipment created but empty  -->
<xs:enumeration value="WaitingForInstructions"/>
<!--  Shipment in the process of loading  -->
<xs:enumeration value="Loading"/>
<!--  Shipment loaded  -->
<xs:enumeration value="Loaded"/>
<!--  Shipment departed and is in its way to destination  -->
<xs:enumeration value="InTransit"/>
<!--  Shipment received at destination  -->
<xs:enumeration value="Received"/>
<!--  Shipment delivered to the final consignee  -->
<xs:enumeration value="Delivered"/>
</xs:restriction>
</xs:simpleType>
<!--  Enumerated value that defines a shipment direction  -->
<xs:simpleType name="ShipmentDirectionType">
<xs:restriction base="xs:string">
<!--  Export shipment  -->
<xs:enumeration value="Outgoing"/>
<!--  Import shipment  -->
<xs:enumeration value="Incoming"/>
</xs:restriction>
</xs:simpleType>
<!--  Enumerated value that defines a shipment layout  -->
<xs:simpleType name="ShipmentLayoutType">
<xs:restriction base="xs:string">
<xs:enumeration value="Master"/>
<xs:enumeration value="House"/>
<xs:enumeration value="Straight"/>
</xs:restriction>
</xs:simpleType>
<!--  Enumerated value that defines a booking status  -->
<xs:simpleType name="BookingStatusType">
<xs:restriction base="xs:string">
<!--  Booking pending to be shipped  -->
<xs:enumeration value="Open"/>
<!--
 Booking converted into another transaction. Ex: Shipment, Warehouse Receipt, etc. 
-->
<xs:enumeration value="Closed"/>
<!--  Booking was cancelled  -->
<xs:enumeration value="Canceled"/>
<!--  Booking is in process  -->
<xs:enumeration value="InProcess"/>
</xs:restriction>
</xs:simpleType>
<!--
 Inbond movement definition. Used in AMS system for US Customs 
-->
<xs:complexType name="InBondDataType">
<xs:all>
<xs:element name="BTDFDAIndicator" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
<xs:element name="InbondEntryType" type="InbondEntryTypeDesc" minOccurs="1" maxOccurs="1"/>
<xs:element name="ConventionalInbondNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
<xs:element name="InbondCarrierSCACCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
<xs:element name="USDestinationPort" type="xs:string" minOccurs="0" maxOccurs="1"/>
<xs:element name="ForeignDestinationPort" type="xs:string" minOccurs="0" maxOccurs="1"/>
<xs:element name="ForeignPlaceOfDelivery" type="xs:string" minOccurs="0" maxOccurs="1"/>
<xs:element name="Value" type="MoneyValue" minOccurs="0" maxOccurs="1"/>
<xs:element name="BondedCarrierIDNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
<xs:element name="PaperlessInbondNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
<xs:element name="USPortOfInbond1" type="xs:string" minOccurs="0" maxOccurs="1"/>
<xs:element name="USPortOfInbond2" type="xs:string" minOccurs="0" maxOccurs="1"/>
<xs:element name="USPortOfInbond3" type="xs:string" minOccurs="0" maxOccurs="1"/>
<xs:element name="USPortOfInbond4" type="xs:string" minOccurs="0" maxOccurs="1"/>
<xs:element name="USPortOfInbond5" type="xs:string" minOccurs="0" maxOccurs="1"/>
</xs:all>
</xs:complexType>
<!--  Types of inbond movements  -->
<xs:simpleType name="InbondEntryTypeDesc">
<xs:restriction base="xs:string">
<xs:enumeration value="ImmediateTransportation"/>
<xs:enumeration value="TransportationAndExportation"/>
<xs:enumeration value="ImmediateExportation"/>
<xs:enumeration value="Transit"/>
<xs:enumeration value="MultiTransit"/>
</xs:restriction>
</xs:simpleType>
<!--  Units used in the Air waybill  -->
<xs:simpleType name="AWBUnitType">
<xs:restriction base="xs:string">
<!--  Kilograms  -->
<xs:enumeration value="Kg"/>
<!--  Pounds  -->
<xs:enumeration value="Lb"/>
<!--  Kilograms and Pounds  -->
<xs:enumeration value="Both"/>
</xs:restriction>
</xs:simpleType>
<!--  Air AMS data for AMS system at US Customs  -->
<xs:complexType name="AirAMSInfoType">
<xs:all>
<xs:element name="FDAIndicator" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
<xs:element name="BondedCarrierID" type="xs:string" minOccurs="0" maxOccurs="1"/>
<xs:element name="InbondControlNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
<xs:element name="BondedPremisesID" type="xs:string" minOccurs="0" maxOccurs="1"/>
<xs:element name="DomesticInternationalID" type="DomInterIDType" minOccurs="0" maxOccurs="1"/>
<xs:element name="DestinationAirport" type="xs:string" minOccurs="0" maxOccurs="1"/>
<xs:element name="PermitToProceedDestAirport" type="xs:string" minOccurs="0" maxOccurs="1"/>
<xs:element name="ArrivalDateAtDestAirport" type="xs:date" minOccurs="0" maxOccurs="1"/>
<xs:element name="OriginOfGoodsCountry" type="xs:string" minOccurs="0" maxOccurs="1"/>
<xs:element name="DeclaredValue" type="MoneyValue" minOccurs="0" maxOccurs="1"/>
<xs:element name="Currency" type="xs:string" minOccurs="0" maxOccurs="1"/>
<xs:element name="HarmonizedTariff" type="xs:string" minOccurs="0" maxOccurs="1"/>
<xs:element name="EntryType" type="xs:string" minOccurs="0" maxOccurs="1"/>
<xs:element name="EntryNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
<xs:element name="NominatedAgent" type="xs:string" minOccurs="0" maxOccurs="1"/>
<xs:element name="SplitIndicator" type="xs:string" minOccurs="0" maxOccurs="1"/>
<xs:element name="BoardedPieceQuantity" type="xs:integer" minOccurs="0" maxOccurs="1"/>
<xs:element name="WeightCode" type="WeightCodeType" minOccurs="0" maxOccurs="1"/>
<xs:element name="BoardedWeight" type="xs:integer" minOccurs="0" maxOccurs="1"/>
</xs:all>
</xs:complexType>
<!--  Weight units  -->
<xs:simpleType name="WeightCodeType">
<xs:restriction base="xs:string">
<!--  Kilograms  -->
<xs:enumeration value="K"/>
<!--  Pounds  -->
<xs:enumeration value="L"/>
</xs:restriction>
</xs:simpleType>
<!--  Domestic or International type  -->
<xs:simpleType name="DomInterIDType">
<xs:restriction base="xs:string">
<!--  Domestic  -->
<xs:enumeration value="D"/>
<!--  International  -->
<xs:enumeration value="I"/>
<!--  Foreign Cargo Remaining On Board  -->
<xs:enumeration value="R"/>
</xs:restriction>
</xs:simpleType>
<!--  List of shipments  -->
<xs:complexType name="ShipmentList">
<xs:choice minOccurs="0" maxOccurs="unbounded">
<!--  Describes an individual air shipment in the list  -->
<xs:element name="AirShipment" type="ShipmentType" minOccurs="0" maxOccurs="unbounded"/>
<!--  Describes an individual ocean shipment in the list  -->
<xs:element name="OceanShipment" type="ShipmentType" minOccurs="0" maxOccurs="unbounded"/>
<!--
 Describes an individual ground shipment in the list 
-->
<xs:element name="GroundShipment" type="ShipmentType" minOccurs="0" maxOccurs="unbounded"/>
</xs:choice>
</xs:complexType>
<!--  List of documents  -->
<xs:complexType name="DocumentList">
<xs:sequence>
<!--  Describes an individual document in the list  -->
<xs:element name="Document" type="DocumentType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<!--  Document in Magaya format  -->
<xs:complexType name="DocumentType">
<xs:all>
<!--  Name of the document  -->
<xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1"/>
<!--  File extension  -->
<xs:element name="Extension" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Document data encoded in Encode64 format  -->
<xs:element name="Data" type="xs:base64Binary" minOccurs="0" maxOccurs="1"/>
<!--  Describes if it is a Magaya document  -->
<xs:element name="IsMagayaDoc" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
<!--  Describes if it is an OLE document  -->
<xs:element name="IsOLEDoc" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
<!--
 
      Unique identifier of the attachment in the database. 
      This is used to retrieve the attachment when necessary 
      
-->
<xs:element name="Identifier" type="xs:long" minOccurs="0" maxOccurs="1"/>
<!--
 
      Code that describes the type of operation where the attachment is contained. Ex: SH for shipment. 
      This is used to retrieve the attachment when necessary 
      
-->
<xs:element name="OwnerType" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--
 
      Unique identifier (GUID) of the operation where the attachment is contained. 
      This is used to retrieve the attachment when necessary 
      
-->
<xs:element name="OwnerGUID" type="GUIDType" minOccurs="0" maxOccurs="1"/>
</xs:all>
</xs:complexType>
<!--  Air Booking element  -->
<xs:element name="AirBooking" type="ShipmentType"/>
<!--  Ocean Booking element  -->
<xs:element name="OceanBooking" type="ShipmentType"/>
<!--  Ground Booking element  -->
<xs:element name="GroundBooking" type="ShipmentType"/>
<!--  Air Trip element  -->
<xs:element name="AirTrip" type="ShipmentType"/>
<!--  Ocean Trip element  -->
<xs:element name="OceanTrip" type="ShipmentType"/>
<!--  Ground Trip element  -->
<xs:element name="GroundTrip" type="ShipmentType"/>
<!--  List of bookings  -->
<xs:complexType name="BookingList">
<xs:choice minOccurs="0" maxOccurs="unbounded">
<!--  Describes an individual air booking in the list  -->
<xs:element name="AirBooking" type="ShipmentType" minOccurs="0" maxOccurs="unbounded"/>
<!--  Describes an individual ocean booking in the list  -->
<xs:element name="OceanBooking" type="ShipmentType" minOccurs="0" maxOccurs="unbounded"/>
<!--  Describes an individual ground booking in the list  -->
<xs:element name="GroundBooking" type="ShipmentType" minOccurs="0" maxOccurs="unbounded"/>
</xs:choice>
</xs:complexType>
<!--  List of trips  -->
<xs:complexType name="TripList">
<xs:choice minOccurs="0" maxOccurs="unbounded">
<!--  Describes an individual air trip in the list  -->
<xs:element name="AirTrip" type="ShipmentType" minOccurs="0" maxOccurs="unbounded"/>
<!--  Describes an individual ocean trip in the list  -->
<xs:element name="OceanTrip" type="ShipmentType" minOccurs="0" maxOccurs="unbounded"/>
<!--  Describes an individual ground trip in the list  -->
<xs:element name="GroundTrip" type="ShipmentType" minOccurs="0" maxOccurs="unbounded"/>
</xs:choice>
</xs:complexType>
<!--  Shipment list element  -->
<xs:element name="Shipments" type="ShipmentList"/>
<!--  Booking list element  -->
<xs:element name="Bookings" type="BookingList"/>
<!--  Trip list element  -->
<xs:element name="Trips" type="TripList"/>
<!--  Defines a vessel  -->
<xs:complexType name="VesselType">
<xs:sequence>
<!--  Name of the vessel  -->
<xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1"/>
<!--  Lloyds code for the vessel  -->
<xs:element name="LloydsCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Flag code  -->
<xs:element name="FlagCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Denied Party Screening Result Data  -->
<xs:element name="DeniedPartyScreeningResultData" type="DeniedPartyScreeningResultType" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<!--  Folder that can contain documents and folders  -->
<xs:complexType name="FolderType">
<xs:sequence>
<!--  Name of the folder  -->
<xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1"/>
<!--  List of folders inside this folder  -->
<xs:element name="SubFolders" type="FolderList" minOccurs="0" maxOccurs="1"/>
<!--  List of documents inside this folder  -->
<xs:element name="Documents" type="DocumentList" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<!--  Folder list  -->
<xs:complexType name="FolderList">
<xs:sequence>
<!--  Describes an individual folder in the list  -->
<xs:element name="Folder" type="FolderType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<!--  Folder element  -->
<xs:element name="Folder" type="FolderType"/>
<!--  Folder list element  -->
<xs:element name="Folders" type="FolderList"/>
<!--  Type of ISF Filing  -->
<xs:simpleType name="ISFFilingTypeDesc">
<xs:restriction base="xs:string">
<xs:enumeration value="ISF-5"/>
<xs:enumeration value="ISF-10"/>
</xs:restriction>
</xs:simpleType>
<!--  Types of ISF Bond   -->
<xs:simpleType name="ISFBondTypeDesc">
<xs:restriction base="xs:string">
<xs:enumeration value="BondTypeContinuos"/>
<xs:enumeration value="BondTypeSingleTrans"/>
</xs:restriction>
</xs:simpleType>
<!--  Importer Security Filing (ISF/10+2) data  -->
<xs:complexType name="ISFDataType">
<xs:all>
<!--  ISF Filing Type  -->
<xs:element name="FilingType" type="ISFFilingTypeDesc" minOccurs="0" maxOccurs="1"/>
<!--  Bonded Holder  -->
<xs:element name="BondedHolder" type="EntityType" minOccurs="0" maxOccurs="1"/>
<!--  Bond Activity Code  -->
<xs:element name="BondActivityCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Bond Type  -->
<xs:element name="BondType" type="ISFBondTypeDesc" minOccurs="0" maxOccurs="1"/>
<!-- ISF Transaction Number   -->
<xs:element name="ISFTransactionNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  ISF Ship Type  -->
<xs:element name="ISFShipType" type="xs:string" minOccurs="0" maxOccurs="1"/>
<!--  Action Type -->
<xs:element name="ActionType" type="xs:string" minOccurs="0" maxOccurs="1"/>
</xs:all>
</xs:complexType>
</xs:schema>